body{
    color: aliceblue;
    background-color: blue;
    font-family: monospace;
    font-weight: bolder;
}
header{
    transform: translate(0%, 200%);
}
header > h1{
    text-align: center;
}
section{
    margin: auto;
    color: darkgray;
    background-color: aliceblue;
    height: 300px;
    width: 300px;
    border-radius: 10px;
    padding: 20px;
    transform: translate(-0%, 25%);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.62) ;
}
footer{
    transform: translate(0%, 1000%);
}
footer > p{
    color: white;
    text-align: center;
}
  
