body{
    color: aliceblue;
    background-color: rgb(147, 147, 186);
    font-family: monospace;
    font-weight: bolder;
}
header{
    
}
header > h1{
    text-align: center;
}
section{
    margin: auto;
    color: darkgray;
    background-color: rgb(255, 255, 255);   
    width: 400px;
    border-radius: 10px;
    padding: 10px;
}
Section>#text{
    text-align: center;
    font-size: 15px;
    text-decoration: underline;
    padding-bottom: 10px;
}
section>#imagem>img{
    width: 400px;
}
footer > p{
    color: white;
    text-align: center;
}
  
